@charset "utf-8";
/* CSS Document */

.wrapper
{
	max-width: 700px;
	margin:auto;
}

#draw
{
    position:absolute;
    z-index:1;
}
#pointer
{
    background-color: white;
    position:absolute;
    z-index:0;
}

h1{
	text-align: center;
}